
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: space-between;
  padding: 20px 0;
}

.roll {
  height: 15vh;
  background: cornflowerblue;
  width: 100%;
  cursor: pointer;
}
.dice {
  background:gold;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.die {
  background: aliceblue;
  width: 30vw;
  height: 30vw;
  border-radius: 12px;
  padding: 20px;
}
.dot{
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:black;
}
@media (min-width: 800px){
  .dice {
    background:hotpink;
    height: 60vh;
    flex-direction: row;
  }
  .die {
    width: 12vw;
    height: 12vw;
  }
  .dot{
    width: 25px;
    height: 25px;
  }
}
.one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  display: flex ;
  justify-content: space-between;
}

.two .dot:nth-of-type(2) {
  align-self: flex-end;
}

.three {
  display: flex;
  justify-content: space-between;
}

.three .dot:nth-of-type(1) {
  align-self :flex-end;
}

.three .dot:nth-of-type(2) {
  align-self :center;
}
.four , .six, .five{
  display: flex;
  justify-content: space-between;
}

.four .column , .six .column, .five .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five .column:nth-of-type(2) {
  justify-content: center;
}



